---
import LandingHeader from "../components/landing-header.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
	<LandingHeader></LandingHeader>
</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');
	
	.graduate-regular {
		font-family: "Graduate", serif;
		font-weight: 400;
		font-style: normal;
	}
	body{
		background-color: rgb(250, 250, 250);
		margin: 0;
		overflow: hidden;
	}

</style>

