---
import Button1 from "../components/button1.astro";
import Button2 from "../components/button2.astro";
import HeaderSquares from "../components/header-squares.astro";
import headshot from "../assets/AndrewKehler.png";
---
<div class="landing">
    <div class="titlecard">
        <h3>Hello, my name is</h3>
        <h1>Andrew Kehler</h1>
        <div class="buttons">
            <Button1>Projects</Button1>
            <Button2>Resume</Button2>
        </div>
        
    </div>
    <div class="headshot-contain">
        <img class="headshot" width="400" height="400" src={headshot.src} alt="" draggable="false">
        <HeaderSquares></HeaderSquares>
    </div>

</div>


<style>
	@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');
	

	.graduate-regular {
		font-family: "Graduate", serif;
		font-weight: 400;
		font-style: normal;
	}
	.landing{
		background-color: rgb(255, 255, 255);
		width: 100vw;
		height: 45vw;
		display: flex;
		align-items: center;
		/* justify-content: space-around; */
		position: relative;

	}
	.titlecard{
		margin: 0 0 -5% 5%;
		position: relative;
		z-index: 1;
	}	
	.titlecard>h3{
		margin: 0 0 0 20px;
		font-size: clamp(.5rem, 2.5vw, 3.3rem);
		font-weight: 400;
		font-family:"Intel One Mono", monospace;
		
	}
	.titlecard>h1{
		margin: 0 0 40px 0;
		font-size: clamp(2rem, calc(5vw + 1rem), 8rem);
		font-family: "Graduate", serif;
		font-weight: 100;
		color: #4988DC;
		background-color: rgb(255, 255, 255);
		/* border-radius: 40px; */
	}
	.buttons{
		display: flex;
		gap: min(4vw,40px);
	}
	.headshot-contain{
		position:absolute;
		z-index: 0;
		right: 0;
	}
	.headshot{
		width: clamp(100px, 40vw, 1000px);
		height: auto;
        user-select: none;
        pointer-events: none;
	}

</style>

<style>
    @media screen and (max-width:780px) {
        .landing{
            justify-content: center;
            height: calc(60vw + 30vh);

        }
        .titlecard{
            margin-top: 50vw;
        }
        .titlecard>h1{
            font-size: 10vw;
            background-color: rgba(255, 255, 255, 0.9);
            padding-right: 20px;
        }
        .titlecard>h3{
            font-size: 6vw;
            background-color: rgba(255, 255, 255, 0.9);
            padding-right: 20px;
        }
        .headshot-contain{
            right: 0;
            top: 4%;
            justify-self:end;
            width: 80vw;
            height: 80vw;
        }
        .headshot{
            width: 80vw;
            height: auto;
        }
        .buttons{
            justify-content: center ;
        }
            
    }
</style>

<script>
    const introTimeline = gsap.timeline();  
    const titleCardElements =  document.querySelector(".titlecard")?.children;
    const subHead = titleCardElements ? titleCardElements[0]: null;
    const header = titleCardElements ? titleCardElements[1]: null;
    const buttons = titleCardElements ? titleCardElements[2]: null;
    introTimeline.fromTo( subHead,
        {
            opacity:0
        },
        {
            opacity:1,
            duration:1,
            delay:.3
        })
    .fromTo( header,
        {
            opacity:0,
            x:-20
        },
        {
            opacity:1,
            duration:1,
            x:0,
            delay:.3
        })
    .fromTo(".headshot",
        {
            opacity:0,
            x:20,
            y:20
        },
        {
            opacity:1,
            x:-10,
            y:40,
            duration:1,
            delay:.3

        }, "<")
    .fromTo( ".header-square",
        {
            opacity:0,
            x:(index, target: HTMLElement)=>parseFloat(target.dataset.startX || "0"),
            y:(index, target: HTMLElement)=>parseFloat(target.dataset.startY || "0")
        },
        {
            opacity:1,
            x:0,
            y:0,
            duration:1,
            delay:(index, target: HTMLElement)=>parseFloat(target.dataset.delay || "0"),
            stagger:0
            
        })
    .fromTo( buttons?.children[0],
        {
            opacity:0,
            x:-20
        },
        {
            opacity:1,
            duration:1,
            x:0,
            delay:.3
        }, "<")
    .fromTo( buttons?.children[1],
        {
            opacity:0,
            x:20
        },
        {
            opacity:1,
            duration:1,
            x:0,
        }, "<")


</script>

<script>
    
    

</script>